/* layout css */
html, body{
    background-color:#3a3838;
    margin:0px;
    min-height:100vh;
}
#header{
    background-color:#75201a;
    height:25%;
    font-size: 50px;
    color: #d3d3d3;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    margin:0;
}
#center{
    height:76vh;
    margin:0;
}
body::after {
    content: '';
    display: block;
    height: 3%;
  }
#footer{
    clear: both;
    position: fixed;
    bottom:0;
    height: 3vh;
    width: 100%;
    background-color:#75201a;
    font-size: 20px;
    color: #d3d3d3;
    text-align: center;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.maintance{
    width: 100%;
    color:#d3d3d3;
    text-align: center;
    padding-top: 50px;
}
/* welcome css */
#welcome_wrapper{
    height:100%;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.welcome_button{
    width: 200px;
    height: 200px;
    border:solid 5px grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color:#d3d3d3;
    font-size: 30px;
    transition: 0.5s;
    opacity: 0.4;
}
.welcome_button:hover{
    opacity: 1;
    transform: translateY(-50px);
}
#pyt40{
    background-color: #71b968;
}
#pyt1{
    background-color: #508a87;
}
#lista{
    background-color: #5d508a;
}
#dodaj{
    background-color: #8a5051;
}

/* 1 pytanie css i trochę 40 pytań css */

.pyt_wrapper{
    margin-top: 50px;
    padding-bottom:50px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.pytanie{
    background-color: #313335;
    margin-bottom: 0px;
    border: #404142 2px solid;
    color:#d3d3d3;
    padding: 25px;
    width: 800px;
    font-size: 25px;
    box-sizing: border-box;
}
.odp{
    background-color: #313335;
    border: #404142 2px solid;
    color: #d3d3d3;
    padding: 25px;
    width: 800px;
    font-size: 25px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
#nextButton{
    background-color: #75201a;
    margin-bottom: 0px;
    border: #404142 2px solid;
    color:#d3d3d3;
    padding: 25px;
    width: 800px;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
    display: none;
    cursor: pointer;
}
/* lista css */
#lista_wrapper{
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#lista_pytan{
    border-collapse: collapse;
    color: #d3d3d3;
    max-width:800px;

}
th{
    font-size: 20px;
    border: 3px solid black;
    box-sizing: border-box;
}
td{
    font-size:16px;
    border: 1px solid black;
}